In [9]:
import pandas as pd

In [24]:
df = pd.read_excel('2019会计师事务所100强榜单.xlsx')

In [25]:
df

     排序       会计事务所名称   业务收入(万元)    人数
0     1  普华永道中天会计师事务所  564639.27  1279
1     2    安永华明会计师事务所  437464.46  1471
2     3    德勤华永会计师事务所  410181.98  1216
3     4   毕马威华振会计师事务所  336219.56   901
4     5      天健会计师事务所  247119.31  1608
..  ...           ...        ...   ...
95   96    北京今创会计师事务所    5025.85    18
96   97  浙江浙经天策会计师事务所    3532.58    61
97   98  北京金诚立信会计师事务所    4620.00    43
98   99   广东中天粤会计师事务所    8767.46   110
99  100    上海琳方会计师事务所    4586.10    73

[100 rows x 4 columns]

In [26]:
def excel_one_line_to_list(df, col):
    df = df[col]
    df_li = df.values.tolist()
    result = []
    for s in df_li:
        result.append(s)
    return result

In [27]:
x = excel_one_line_to_list(df, '会计事务所名称')
x

['普华永道中天会计师事务所',
 '安永华明会计师事务所',
 '德勤华永会计师事务所',
 '毕马威华振会计师事务所',
 '天健会计师事务所',
 '立信会计师事务所',
 '信永中和会计师事务所',
 '致同会计师事务所',
 '天职国际会计师事务所',
 '大华会计师事务所',
 '容诚会计师事务所',
 '大信会计师事务所',
 '中审众环会计师事务所',
 '中兴华会计师事务所',
 '中兴财光华会计师事务所',
 '中天运会计师事务所',
 '亚太（集团）会计师事务所',
 '天衡会计师事务所',
 '中审华会计师事务所',
 '中汇会计师事务所',
 '希格玛会计师事务所',
 '上会会计师事务所',
 '北京兴华会计师事务所',
 '公证天业会计师事务所',
 '广东正中珠江会计师事务所',
 '苏亚金诚会计师事务所',
 '中审亚太会计师事务所',
 '永拓会计师事务所',
 '众华会计师事务所',
 '华兴会计师事务所',
 '利安达会计师事务所',
 '四川华信（集团）会计师事务所',
 '中证天通会计师事务所',
 '立信中联会计师事务所',
 '中勤万信会计师事务所',
 '新联谊会计师事务所',
 '中喜会计师事务所',
 '中准会计师事务所',
 '中瑞诚会计师事务所',
 '和信会计师事务所',
 '天圆全会计师事务所',
 '北京大地泰华会计师事务所',
 '北京中路华会计师事务所',
 '湘能卓信会计师事务所',
 '重庆康华会计师事务所',
 '浙江天平会计师事务所',
 '北京中天恒会计师事务所',
 '天津中审联会计师事务所',
 '中一会计师事务所',
 '中职信（广东）会计师事务所',
 '北京东审鼎立国际会计师事务所',
 '宁夏天华会计师事务所',
 '北京中平建华浩会计师事务所',
 '广东诚安信会计师事务所',
 '山东舜天信诚会计师事务所',
 '浙江同方会计师事务所',
 '尤尼泰振青会计师事务所',
 '上海上咨会计师事务所',
 '北京和兴会计师事务所',
 '山东天元同泰会计师事务所',
 '天津立信会计师事务所',
 '深圳鹏盛会计师事务所',
 '陕西鸿英会计师事务所',
 '上海上审会计师事务所',
 '四川中衡安信会计师事务所',
 '浙江至诚会计师事务所',
 '上海公信会计师事务所',
 '北京中光华会计师事务所',
 '遵义中审会计师事务所',
 '江苏华星会计师事务所',
 '湖南天平正大会计师事务所',
 '浙江正健会计师事务所',
 '北京兴中海会计师事务所',
 '上海立信佳诚东审会计师事务所',
 '贵州黔元会计师事务所',
 '湖南友谊联合会计师事务所',
 '上海华安会计师事务所',
 '浙江中兴会计师事务所',
 '云南中天正和会计师事务所',
 '新疆宏昌天圆会计师事务所',
 '上海沪港金茂会计师事务所',
 '江苏天宏华信会计师事务所',
 '恒信弘正会计师事务所',
 '江苏苏港会计师事务所',
 '南京益诚会计师事务所',
 '北京坤泰融和会计师事务所',
 '新疆驰远天合会计师事务所',
 '吉林诚信会计师事务',
 '苏州方本会计师事务所',
 '湖南建业会计师事务所',
 '中审国际会计师事务所',
 '浙江德威会计师事务所',
 '浙江正大会计师事务所',
 '陕西尚华会计师事务所',
 '上海玛泽会计师事务所',
 '北京今创会计师事务所',
 '浙江浙经天策会计师事务所',
 '北京金诚立信会计师事务所',
 '广东中天粤会计师事务所',
 '上海琳方会计师事务所']

In [29]:
df.replace(x[:4], [0]*4, inplace = True)
df.replace(x[4:10], [1]*len(x[4:10]), inplace = True)
df.replace(x[10:], [2]*len(x[10:]))

     排序  会计事务所名称   业务收入(万元)    人数
0     1        0  564639.27  1279
1     2        0  437464.46  1471
2     3        0  410181.98  1216
3     4        0  336219.56   901
4     5        1  247119.31  1608
..  ...      ...        ...   ...
95   96        2    5025.85    18
96   97        2    3532.58    61
97   98        2    4620.00    43
98   99        2    8767.46   110
99  100        2    4586.10    73

[100 rows x 4 columns]

In [31]:
df = pd.read_excel('2019会计师事务所100强榜单.xlsx')

In [32]:
x = excel_one_line_to_list(df, '会计事务所名称')
x

['普华永道中天会计师事务所',
 '安永华明会计师事务所',
 '德勤华永会计师事务所',
 '毕马威华振会计师事务所',
 '天健会计师事务所',
 '立信会计师事务所',
 '信永中和会计师事务所',
 '致同会计师事务所',
 '天职国际会计师事务所',
 '大华会计师事务所',
 '容诚会计师事务所',
 '大信会计师事务所',
 '中审众环会计师事务所',
 '中兴华会计师事务所',
 '中兴财光华会计师事务所',
 '中天运会计师事务所',
 '亚太（集团）会计师事务所',
 '天衡会计师事务所',
 '中审华会计师事务所',
 '中汇会计师事务所',
 '希格玛会计师事务所',
 '上会会计师事务所',
 '北京兴华会计师事务所',
 '公证天业会计师事务所',
 '广东正中珠江会计师事务所',
 '苏亚金诚会计师事务所',
 '中审亚太会计师事务所',
 '永拓会计师事务所',
 '众华会计师事务所',
 '华兴会计师事务所',
 '利安达会计师事务所',
 '四川华信（集团）会计师事务所',
 '中证天通会计师事务所',
 '立信中联会计师事务所',
 '中勤万信会计师事务所',
 '新联谊会计师事务所',
 '中喜会计师事务所',
 '中准会计师事务所',
 '中瑞诚会计师事务所',
 '和信会计师事务所',
 '天圆全会计师事务所',
 '北京大地泰华会计师事务所',
 '北京中路华会计师事务所',
 '湘能卓信会计师事务所',
 '重庆康华会计师事务所',
 '浙江天平会计师事务所',
 '北京中天恒会计师事务所',
 '天津中审联会计师事务所',
 '中一会计师事务所',
 '中职信（广东）会计师事务所',
 '北京东审鼎立国际会计师事务所',
 '宁夏天华会计师事务所',
 '北京中平建华浩会计师事务所',
 '广东诚安信会计师事务所',
 '山东舜天信诚会计师事务所',
 '浙江同方会计师事务所',
 '尤尼泰振青会计师事务所',
 '上海上咨会计师事务所',
 '北京和兴会计师事务所',
 '山东天元同泰会计师事务所',
 '天津立信会计师事务所',
 '深圳鹏盛会计师事务所',
 '陕西鸿英会计师事务所',
 '上海上审会计师事务所',
 '四川中衡安信会计师事务所',
 '浙江至诚会计师事务所',
 '上海公信会计师事务所',
 '北京中光华会计师事务所',
 '遵义中审会计师事务所',
 '江苏华星会计师事务所',
 '湖南天平正大会计师事务所',
 '浙江正健会计师事务所',
 '北京兴中海会计师事务所',
 '上海立信佳诚东审会计师事务所',
 '贵州黔元会计师事务所',
 '湖南友谊联合会计师事务所',
 '上海华安会计师事务所',
 '浙江中兴会计师事务所',
 '云南中天正和会计师事务所',
 '新疆宏昌天圆会计师事务所',
 '上海沪港金茂会计师事务所',
 '江苏天宏华信会计师事务所',
 '恒信弘正会计师事务所',
 '江苏苏港会计师事务所',
 '南京益诚会计师事务所',
 '北京坤泰融和会计师事务所',
 '新疆驰远天合会计师事务所',
 '吉林诚信会计师事务',
 '苏州方本会计师事务所',
 '湖南建业会计师事务所',
 '中审国际会计师事务所',
 '浙江德威会计师事务所',
 '浙江正大会计师事务所',
 '陕西尚华会计师事务所',
 '上海玛泽会计师事务所',
 '北京今创会计师事务所',
 '浙江浙经天策会计师事务所',
 '北京金诚立信会计师事务所',
 '广东中天粤会计师事务所',
 '上海琳方会计师事务所']

In [34]:
df.replace(x[:4], ['四大']*4, inplace = True)
df.replace(x[4:], ['内资所']*len(x[4:]))

     排序 会计事务所名称   业务收入(万元)    人数
0     1      四大  564639.27  1279
1     2      四大  437464.46  1471
2     3      四大  410181.98  1216
3     4      四大  336219.56   901
4     5     内资所  247119.31  1608
..  ...     ...        ...   ...
95   96     内资所    5025.85    18
96   97     内资所    3532.58    61
97   98     内资所    4620.00    43
98   99     内资所    8767.46   110
99  100     内资所    4586.10    73

[100 rows x 4 columns]

In [35]:
x = excel_one_line_to_list(df, '会计事务所名称')
x

['四大',
 '四大',
 '四大',
 '四大',
 '天健会计师事务所',
 '立信会计师事务所',
 '信永中和会计师事务所',
 '致同会计师事务所',
 '天职国际会计师事务所',
 '大华会计师事务所',
 '容诚会计师事务所',
 '大信会计师事务所',
 '中审众环会计师事务所',
 '中兴华会计师事务所',
 '中兴财光华会计师事务所',
 '中天运会计师事务所',
 '亚太（集团）会计师事务所',
 '天衡会计师事务所',
 '中审华会计师事务所',
 '中汇会计师事务所',
 '希格玛会计师事务所',
 '上会会计师事务所',
 '北京兴华会计师事务所',
 '公证天业会计师事务所',
 '广东正中珠江会计师事务所',
 '苏亚金诚会计师事务所',
 '中审亚太会计师事务所',
 '永拓会计师事务所',
 '众华会计师事务所',
 '华兴会计师事务所',
 '利安达会计师事务所',
 '四川华信（集团）会计师事务所',
 '中证天通会计师事务所',
 '立信中联会计师事务所',
 '中勤万信会计师事务所',
 '新联谊会计师事务所',
 '中喜会计师事务所',
 '中准会计师事务所',
 '中瑞诚会计师事务所',
 '和信会计师事务所',
 '天圆全会计师事务所',
 '北京大地泰华会计师事务所',
 '北京中路华会计师事务所',
 '湘能卓信会计师事务所',
 '重庆康华会计师事务所',
 '浙江天平会计师事务所',
 '北京中天恒会计师事务所',
 '天津中审联会计师事务所',
 '中一会计师事务所',
 '中职信（广东）会计师事务所',
 '北京东审鼎立国际会计师事务所',
 '宁夏天华会计师事务所',
 '北京中平建华浩会计师事务所',
 '广东诚安信会计师事务所',
 '山东舜天信诚会计师事务所',
 '浙江同方会计师事务所',
 '尤尼泰振青会计师事务所',
 '上海上咨会计师事务所',
 '北京和兴会计师事务所',
 '山东天元同泰会计师事务所',
 '天津立信会计师事务所',
 '深圳鹏盛会计师事务所',
 '陕西鸿英会计师事务所',
 '上海上审会计师事务所',
 '四川中衡安信会计师事务所',
 '浙江至诚会计师事务所',
 '上海公信会计师事务所',
 '北京中光华会计师事务所',
 '遵义中审会计师事务所',
 '江苏华星会计师事务所',
 '湖南天平正大会计师事务所',
 '浙江正健会计师事务所',
 '北京兴中海会计师事务所',
 '上海立信佳诚东审会计师事务所',
 '贵州黔元会计师事务所',
 '湖南友谊联合会计师事务所',
 '上海华安会计师事务所',
 '浙江中兴会计师事务所',
 '云南中天正和会计师事务所',
 '新疆宏昌天圆会计师事务所',
 '上海沪港金茂会计师事务所',
 '江苏天宏华信会计师事务所',
 '恒信弘正会计师事务所',
 '江苏苏港会计师事务所',
 '南京益诚会计师事务所',
 '北京坤泰融和会计师事务所',
 '新疆驰远天合会计师事务所',
 '吉林诚信会计师事务',
 '苏州方本会计师事务所',
 '湖南建业会计师事务所',
 '中审国际会计师事务所',
 '浙江德威会计师事务所',
 '浙江正大会计师事务所',
 '陕西尚华会计师事务所',
 '上海玛泽会计师事务所',
 '北京今创会计师事务所',
 '浙江浙经天策会计师事务所',
 '北京金诚立信会计师事务所',
 '广东中天粤会计师事务所',
 '上海琳方会计师事务所']

In [36]:
df.replace(x[:4], ['1']*4, inplace = True)
df.replace(x[4:], ['0']*len(x[4:]))

     排序 会计事务所名称   业务收入(万元)    人数
0     1       1  564639.27  1279
1     2       1  437464.46  1471
2     3       1  410181.98  1216
3     4       1  336219.56   901
4     5       0  247119.31  1608
..  ...     ...        ...   ...
95   96       0    5025.85    18
96   97       0    3532.58    61
97   98       0    4620.00    43
98   99       0    8767.46   110
99  100       0    4586.10    73

[100 rows x 4 columns]